:root{font-size: 16px; color:black; font-family: sans-serif;}
a{text-decoration: none;}
body,html{padding:0px;margin: 0px;}
.btn{padding:0.6rem 1rem; background: #08263c; color:white;border-radius: 1rem 0; transition:0.2s; display: inline-block;}
.btn:hover{color:wheat; border-radius:0 1rem; transition: 0.2s ease-in;}
.row{display: flex;}
.boxCont{ box-shadow: 0 6px 21px 0px rgba(0,0,0,0.2);padding:15px;}


/* ============== HEADER PORTION START FROM HERE ===================== */
.header_cont{background:#08263c;}
.header_cont li:hover a{ color:#d54d18; transition:0.4s ease-in;}
.container{width: 95%; margin: 0 auto; padding:15px; clear: both;}
header{background:url(../images/main-bg.jpg) no-repeat top center; background-color: rgba(0,0,0,0.4);  background-attachment: fixed; height: 41rem; width: 100%;}
nav{clear: both; display: inline-block; width: 100%;}
.logoProtion{   float:left; }
.logoProtion img{width:60%;}
nav ul {float:right;}
nav ul li{  padding: 0.3rem 0.6rem; list-style: none; display: inline-block;}
nav ul li a{  font-size: 1.2rem; color: whitesmoke}
nav ul li a{ padding:0 5px;}
.toggleButton{display: none;}
.midleTxt{display: flex; flex-flow: row wrap; align-items: center; text-align:center; justify-content: center; min-height:34rem; background:rgba(69, 69, 69, 0.4);}
.midleTxt h1{font-size:4rem; color:#08263c; margin:0px;}
.midleTxt h2{font-size:3rem; color:#d54d18;  margin:0px;}
.personDetails p{margin-top:0px; text-align: justify;}
.personDetails p::first-letter{font-size: 2rem; font-weight: bold; }
.colorTxt{color: #18ba60;}
#toggle{color:white; font-size: 2rem; margin-top:1.5rem; cursor:pointer;}

/* ============== ABOUT US PORTION START FROM HERE ===================== */
.aboutUs{display: flex;}
.personImg{ flex: 30%;}
.personDetails{flex:70%;  padding:1rem;}
.personDetails p{color:#333; }
.social_link{display: flex; margin-bottom: 1rem;}
.social_link a{margin: 5px;	border: 1px solid #000;	border-radius: 50%;	width: 25px;height: 25px;text-align: center;
	padding: 8px;	font-size: 20px; color:#000;}
h1.headingTxt{position: relative;}
h1.headingTxt:after{border-bottom: 2px solid #409b2e; width: 205px; content: ""; position: absolute; bottom: -7px; left:0px; content: "";}
h1.headingTxt:before{border-bottom: 2px solid #000; width: 160px; content: ""; position: absolute; bottom: 0px; content: "";}


/* ============== HOBBIES PORTION START FROM HERE ===================== */
.hobbiesCont{margin-top:3rem; display: flex;}
.hobbiesCont a{ border:1px solid #08263c;padding:23px 10px; text-align: center; flex: 30%; text-transform: uppercase; margin:0rem 1rem; color:#18ba60; border-radius: 1rem 0;}
.hobbiesCont a .fab{color:black !important;}


/* ============== PORTFOLIO PORTION START FROM HERE ===================== */
.portfolioCont{ display: flex;}
.portfolioCont .items{border:1px solid wheat; padding: 5px; margin: 5px; flex: 30%; position: relative;}
.portfolioCont .items img{width: 100%;}
.subTitle{display: block; background: #18A9D5; color:black; position: absolute; bottom:0px; width: 100%; text-align:center; height:0px; transition:0.4s ease-in; overflow: hidden; transform: scale(0,0)}
.subTitle p{ color: white; font-size: 1.5rem;}
.portfolioCont .items:hover .subTitle{display: block; background: rgba(10,190,179,0.9); color:black; height: 100%; transition:0.4s ease-in; transform: scale(1,1)}


/* ============== MEDIA PORTION START FROM HERE ===================== */
footer{background:#08263c; font-size: 1.2rem; text-align: center; padding: 1rem;}
footer p{color:whitesmoke; margin: 0px;}



/* ============== PASTCOMPANY PORTION START FROM HERE ===================== */
.pastCompanyCont{display: flex;}
.pastCompanyCont .items{border:1px solid wheat; padding: 10px; flex: 30%; margin: 10px;}
.pastCompanyCont ul{margin-left:0px; padding-left: 0px;}
.pastCompanyCont ul li{list-style: none;}

/* ============== PASTCOMPANY PORTION START FROM HERE ===================== */
.resumeCont{background: url(../images/bg1.jpg) no-repeat fixed; height: 300px; background-size: cover; display: flex; flex-flow: row wrap; align-items: center;  justify-content: center;}
.resumeCont a{background: #d54d18; padding: 10px 15px; border-radius: 20px;   border-radius: 50px;   color: #fff;
    display: block; padding: 15px 0;  text-align: center;  text-decoration: none;  width: 199px; margin-left: auto;  margin-right: auto;
}

/* ============== MEDIA PORTION START FROM HERE ===================== */

@media (max-width:768px){

	.logoProtion img{width: 60%;}
	
	nav ul#hideData{ float:left; padding-left: 0px;}
	nav ul#hideData li{width: 100%;padding: 0.3rem 0rem;}
	.toggleButton{display: block;  float:right;}
	.midleTxt h1{text-align: center; font-size:3rem; color:#08263c;}
	.midleTxt h2{text-align: center; font-size:2rem; color:#2e902b;}
	
	.container{ padding:0.3rem; clear: both;}
	.personImg{flex-direction: column; flex: 100%;}
	.personDetails{flex-direction: column; flex: 100%; padding:0rem;}
	.aboutUs{display: flex;    flex-wrap: wrap;}
	.hobbiesCont{flex-direction: column; }
	.hobbiesCont a{ flex: 100%;}
	.hobbiesCont a{ margin:1rem 0rem;}
	.portfolioCont{ display: flex; flex-direction: column; }
	.portfolioCont .items{flex:100%;}
	.pastCompanyCont{display: flex; flex-direction: column;}
	.pastCompanyCont .items{flex: 100%;}
	
}

@media (max-width:767px){
	.midleTxt {	min-height: 20rem;
	}
}